.sideAnchorPane{
    -fx-background-color:linear-gradient(to bottom right, #2f466b, #662d60);
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-style: solid;
}
#btn_home{
    -fx-background-color:linear-gradient(to bottom right, #1d334b, #4a1e49);
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
    -fx-border-color: #141313;
}
#btn_home:hover {
    -fx-background-color: linear-gradient(to bottom right, #152b3a, #3d2a3f); /* Darker gradient on hover */
}
#logout{
    -fx-background-color: linear-gradient(to bottom right, #e65100, #bf360c);
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
    -fx-border-color: #141313;

}
#logout:hover {
    -fx-background-color: linear-gradient(to bottom right, #d84315, #9e2f23); /* Darker gradient on hover */
}


/* Style for the TableView's column headers */

.table-view{
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(to bottom right,  #2f466b, #662d60);
    -fx-border-radius:8px;
    -fx-padding:0px;
}
.table-view .table-column{
    -fx-alignment:CENTER;
}
.table-view .column-header-background{
    -fx-background-color:linear-gradient(to bottom right,  #2f466b, #662d60);
    -fx-background-insets: 0 0 0 0;
    -f-background-radius:8px 8px 0px 0px;
}
.table-view .column-header, .filter{
    -fx-background-color: transparent;

    -fx-size:40px;
}
.table-view .column-header .label{
    -fx-text-fill:#fff;
    -fx-font-family:"Arial";
}
.textfield{
    -fx-background-color:linear-gradient(to bottom, #efefef, #eee);
    -fx-border-color:linear-gradient(to bottom right,  #2f466b, #662d60);
    -fx-border-width:.8px;
    -fx-font-family:"Tahoma";
    -fx-border-radius:4px;
}
.textfield:focused{
    -fx-border-width:1.8px;
    -fx-background-color:#fff;
}

.search{
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(to bottom right,   #2f466b, #662d60);
    -fx-border-radius:5px;
    -fx-font-size:13px;
    -fx-font-family:"Arial";
    -fx-border-width:1px;
    -fx-padding:0px 0px 0px 28px;
}
.search:focused{
    -fx-border-width:2px;
}

.add-btn{
    -fx-background-color:#327252;
    -fx-background-radius:8px;
    -fx-text-fill:#fff;
    -fx-cursor:hand;
}

.save-btn{
    -fx-background-color:linear-gradient(to bottom right, #2f466b, #662d60);
    -fx-background-radius:8px;
    -fx-text-fill:#fff;
    -fx-cursor:hand;
}
.save-btn:hover {
    -fx-background-color: linear-gradient(to bottom right, #152b3a, #3d2a3f); /* Darker gradient on hover */
}

.cancel-btn{
    -fx-background-color:linear-gradient(to bottom right, #c0392b, #e74c3c);
    -fx-background-radius:8px;
    -fx-text-fill:#fff;
    -fx-cursor:hand;
}
.cancel:hover {
    -fx-background-color: linear-gradient(to bottom right, #a83229, #c0392b); /* Darker gradient on hover */
}

.modify-btn {
    -fx-background-color: #FFC107; /* Yellow */
    -fx-text-fill: white;
    -fx-padding: 5px 10px;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-cursor: hand; /* Pointer cursor */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 2, 0, 0, 1); /* Subtle shadow */
}

.modify-btn:hover {
    -fx-background-color: #FFA000; /* Darker Yellow on hover */
}

.modify-btn:pressed {
    -fx-background-color: #FF8F00; /* Even darker yellow on click */
}

.delete-btn {
    -fx-background-color: #F44336; /* Red */
    -fx-text-fill: white;
    -fx-padding: 5px 10px;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-cursor: hand; /* Pointer cursor */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 2, 0, 0, 1); /* Subtle shadow */
}

.delete-btn:hover {
    -fx-background-color: #D32F2F; /* Darker Red on hover */
}

.delete-btn:pressed {
    -fx-background-color: #B71C1C; /* Even darker red on click */
}
.pane{
    -fx-background-color:linear-gradient(to bottom right, #2f466b, #662d60);

}


